* {
    margin: 0;
    border: 0;
    padding: 0;
}

.background {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.text-box {
    cursor: pointer
}

h1 {
    user-select: none;
    font-size: 50px;
    font-family: Arial, Helvetica, sans-serif;
}

h2 {
    position: fixed;
    bottom: 10px;
    right: 10px;
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
}